*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    width: 1640px;
    margin: 20px auto;
    border: 1px solid;
  }
header {
    text-align: center;
    margin-bottom: 20px;
  }
h1 {
    font-size: 24px;
    margin: 10px 0;
  }
p {
    font-size: 16px;
    line-height: 1.5;
  }
.project {
    margin-bottom: 30px;
  }